#contact {
  overflow: auto;

  #form {
    width: 410px;
    float: left;

    h2 {
      text-align: center;
    }

    label {
      display: block;
      float: left;
      width: 100px;
      padding-top: 5px;
    }

    input {
      float: left;
      width: 255px;
      border: 1px solid #A59B98;
      color: #000000;
      padding: 10px 10px 10px 30px;
      margin-bottom: 10px;
    }

    button {
      cursor: pointer;
      width: 85px;
      height: 30px;
      float: right;
      padding: 0px 0px 5px 0px;
      margin: 10px 16px 0px 0px;
      background: #499EEE;
      color: #F1F1F1;
    }
  }
}

.is-hidden {
  display: none;
}

.success {
  display: block;
}

.danger {
  color: red;
}
